@import "layout/var";

body {
    font-family: $textFont, sans-serif;
    color: black;
    margin: 0;
    padding: 0;
    background: white;
    position: relative;
}

p {
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    font-weight: normal;
}
header, footer, section, div, span, p, button, a, input, textarea, form {
    box-sizing: border-box;
}

button,input,textarea,select{
    outline: none;
}
button {
    padding: 0;
    border: 0;
    background-color: transparent;
    transition: 0.3s;
}
a {
    text-decoration: none;
    transition: 0.3s;
}

a:focus {
    outline: none;
}

form {
    margin: 0;
}

footer {
    margin: 0;
    padding: 0;
}





.title {
    font-weight: 800;
    font-size: 40px;
    line-height: 54px;
    text-align: center;
    font-family: $titleFont;
}

.button {
    background: $orange;
    font-family: $textFont;
    color: white;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    padding: 16px 52px;
    border-radius: 52px;
    cursor: pointer;

    &:hover {
        background: #FF5757;
    }
}

.for-absolute {
    width: 100%;
    overflow: hidden;
}

.about {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1150px;
    margin: 0 auto;

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 277px;
        margin: 60px 53px 0;
        transition: 0.5s;

        &--hidden {
            opacity: 0;
            transform: translateY(-50px);
        }
    }

    &__img {
        display: flex;

        img {
            display: block;
            margin: 0 auto;
        }
    }

    &__text {
        text-align: center;
        font-size: 16px;
        line-height: 138.19%;
        margin-top: 32px;
    }
}