@import "layout/var";

.get {
  padding-top: 95px;
  overflow: hidden;

  @media (max-width: $xs) {
    padding-top: 40px;
  }
}

.get-item {
  display: flex;
  justify-content: center;
  padding: 76px 0;

  @media (max-width: $sm) {
    padding: 50px 0;
  }

  @media (max-width: $xs) {
    padding: 20px 0;
  }

  &--reverse {
    flex-direction: row-reverse;

    .get-item__content {
      margin-right: 100px;
      width: 475px;

      @media (max-width: $sm) {
        width: 350px;
      }

      @media (max-width: $xs) {
        width: 100%;
        margin-right: 0;
      }

      &--hidden {
        transform: translateX(-300px);
      }
    }
  }

  &--pink {
    background: rgba(255, 170, 98, 0.07);
    padding-top: 40px;

    @media (max-width: $sm) {
      padding-right: 20px;
    }

    @media (max-width: $xs) {
      padding: 20px 0;
    }
  }

  &__img {
    width: 520px;
    display: flex;

    @media (max-width: $lg) {
      width: 470px;
    }

    @media (max-width: $md) {
      width: 350px;
    }

    @media (max-width: $sm) {
      flex-shrink: 0;
      width: 250px;
    }

    @media (max-width: $xs) {
      display: none;
    }

    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }
  }

  &__content {
    width: 620px;
    display: flex;
    align-self: center;
    margin-left: 50px;
    transition: 0.8s;

    @media (max-width: $lg) {
      width: 570px;
    }

    @media (max-width: $md) {
      width: 450px;
    }

    @media (max-width: $sm) {
      flex-shrink: 0;
      width: 350px;
    }

    @media (max-width: $xs) {
      width: 100%;
      margin: 0;
      padding: 0 15px;
    }

    &--hidden {
      opacity: 0;
      transform: translateX(300px);
    }
  }

  &__num {
    font-weight: 900;
    font-size: 50px;
    line-height: 138.19%;

    @media (max-width: $sm) {
      font-size: 40px;
      line-height: 40px;
    }
  }

  &__text {
    margin-left: 32px;

    @media (max-width: $sm) {
      margin-left: 20px;
    }

    p {
      font-size: 25px;
      line-height: 38px;
      margin-bottom: 45px;

      @media (max-width: $sm) {
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 20px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__small {
    font-size: 20px!important;
    line-height: 138.19%!important;
    margin-bottom: 35px!important;

    @media (max-width: $sm) {
      font-size: 14px!important;
      margin-bottom: 15px!important;
    }

    &:last-child {
      margin-bottom: 0!important;
    }
  }
}