@import "layout/var";

.pills {
  display: flex;
  justify-content: center;
  align-items: center;

  &__img {
    width: 726px;
    position: relative;
    transform: translateX(-100px);

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 30px;
      bottom: 40px;
      width: 524px;
      height: 524px;
      border-radius: 50%;
      background: #FF5757;
      z-index: 0;
      transition: 0.8s;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 76px;
      bottom: 86px;
      width: 432px;
      height: 432px;
      border-radius: 50%;
      background: $orange;
      z-index: 0;
      transition: 0.8s;
    }

    &--hidden {
      &:before, &:after {
        width: 0;
        height: 0;
      }
    }

    img {
      max-width: 100%;
      z-index: 1;
      position: relative;
    }
  }

  &__content {
    width: 450px;
    transform: translateX(-60px);
  }

  &__title {
    text-align: left;
  }
}

.pills-list {
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    font-size: 20px;
    line-height: 138.19%;
    margin-top: 45px;
    padding-left: 47px;
    position: relative;

    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 21px;
      height: 26px;
      border-top-left-radius: 32px;
      border-top-right-radius: 32px;
      background: #FFD362;
      left: 0;
      top: 0;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 21px;
      height: 26px;
      border-bottom-left-radius: 32px;
      border-bottom-right-radius: 32px;
      background: linear-gradient(180deg, #BF0000 43.17%, #9C0202 100%);
      left: 0;
      top: 26px;
    }
  }
}