@import "layout/var";

.pills {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: $md) {
    padding-top: 50px;
  }

  @media (max-width: $xs) {
    padding-top: 0;
    flex-direction: column;
  }

  &__img {
    width: 726px;
    position: relative;
    transform: translateX(-100px);

    @media (max-width: $lg) {
      width: 650px;
      transform: translateX(-50px);
    }

    @media (max-width: $md) {
      width: 500px;
    }

    @media (max-width: $sm) {
      width: 400px;
      flex-shrink: 0;
      transform: translateX(-18px);
    }

    @media (max-width: $xs) {
      width: 320px;
      transform: none;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 30px;
      bottom: 40px;
      width: 524px;
      height: 524px;
      border-radius: 50%;
      background: #FF5757;
      z-index: 0;
      transition: 0.8s;

      @media (max-width: $lg) {
        width: 448px;
        height: 448px;
      }

      @media (max-width: $md) {
        width: 348px;
        height: 348px;
      }

      @media (max-width: $sm) {
        width: 270px;
        height: 270px;
      }

      @media (max-width: $xs) {
        left: 25px;
      }
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 76px;
      bottom: 86px;
      width: 432px;
      height: 432px;
      border-radius: 50%;
      background: $orange;
      z-index: 0;
      transition: 0.8s;

      @media (max-width: $lg) {
        width: 356px;
        height: 356px;
      }

      @media (max-width: $md) {
        width: 256px;
        height: 256px;
      }

      @media (max-width: $sm) {
        width: 210px;
        height: 210px;
        left: 60px;
        bottom: 70px;
      }

      @media (max-width: $xs) {
        left: 55px;
      }
    }

    &--hidden {
      &:before, &:after {
        width: 0;
        height: 0;
      }
    }

    img {
      max-width: 100%;
      z-index: 1;
      position: relative;
    }
  }

  &__content {
    width: 450px;
    transform: translateX(-60px);

    @media (max-width: $md) {
      width: 400px;
    }

    @media (max-width: $sm) {
      width: 350px;
      transform: translateX(-20px);
    }

    @media (max-width: $xs) {
      width: calc(100% - 30px);
      transform: none;
    }
  }

  &__title {
    text-align: left;
  }
}

.pills-list {
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    font-size: 20px;
    line-height: 138.19%;
    margin-top: 45px;
    padding-left: 47px;
    position: relative;

    @media (max-width: $sm) {
      font-size: 16px;
      padding-left: 40px;
    }

    @media (max-width: $xs) {
      margin-top: 20px;
      font-size: 14px;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 21px;
      height: 26px;
      border-top-left-radius: 32px;
      border-top-right-radius: 32px;
      background: #FFD362;
      left: 0;
      top: 0;

      @media (max-width: $sm) {
        width: 16px;
        height: 18px;
      }
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 21px;
      height: 26px;
      border-bottom-left-radius: 32px;
      border-bottom-right-radius: 32px;
      background: linear-gradient(180deg, #BF0000 43.17%, #9C0202 100%);
      left: 0;
      top: 26px;

      @media (max-width: $sm) {
        width: 16px;
        height: 18px;
        top: 18px;
      }
    }
  }
}