@import "layout/var";

.program {
  background: rgba(255, 170, 98, 0.28);
  padding: 50px 0 88px;
}

.program-slider {
  max-width: 1201px;
  margin: 54px auto 0;

  &__slide {
    outline: none;
  }

  .slick-track {
    display: flex;
    align-items: center;
  }

  .slick-arrow {
    display: block;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background: $orange;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: transparent;
    font-size: 0;
    cursor: pointer;

    &:hover {
      background: #FF5757;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 32px;
      height: 22px;
      background: url('../img/symptom-arrow.svg') no-repeat center;
      background-size: cover;
      top: 50%;
      left: 50%;
      margin-top: -11px;
      margin-left: -16px;
    }

    &.slick-prev {
      z-index: 100;
      right: 100%;
    }

    &.slick-next {
      left: 100%;

      &:before {
        transform: scale(-1, 1);
      }
    }
  }

  .slick-dots {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex!important;
    justify-content: center;
    position: absolute;
    top: calc(100% + 11px);

    li {
      outline: none;
      margin: 0 6px;

      &.slick-active {
        button {
          background: $orange;
        }
      }

      button {
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: white;
        color: transparent;
        font-size: 0;
      }
    }
  }
}

.program-block {
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.03);
  border-radius: 30px;
  margin: 20px;
  padding: 40px 100px 50px 60px;
  outline: none;

  &__title {
    font-family: $titleFont;
    font-weight: 800;
    font-size: 35px;
    line-height: 48px;
  }
}

.program-list {
  margin: 26px 0 0 20px;
  padding: 0;
  list-style: none;
  column-count: 2;

  li {
    font-size: 16px;
    line-height: 138.19%;
    padding-left: 32px;
    margin-top: 22px;
    max-width: 390px;
    min-height: 68px;
    position: relative;

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 4px;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background: $orange;
    }
  }
}