@import "layout/var";

.speakers {
  background: rgba(179, 179, 179, 0.07);
  padding: 72px 0 96px;
  overflow-x: hidden;

  @media (max-width: $md) {
    padding: 40px 0;
  }

  @media (max-width: $xs) {
    padding: 30px 0;

    .title {
      margin-bottom: 30px;
    }
  }
}

.speaker {
  margin-top: 100px;

  @media (max-width: $md) {
    margin-top: 50px;
  }

  @media (max-width: $xs) {
    margin-top: 0;
  }

  &--reverse {
    .speaker__container {
      flex-direction: row-reverse;

      @media (max-width: $xs) {
        flex-direction: column;
      }
    }

    .speaker__info {
      width: 50%;
      border-top-left-radius: 17px;
      border-top-right-radius: 0;
      border-bottom-left-radius: 17px;
      border-bottom-right-radius: 0;
      padding-left: 42px;

      @media (max-width: $sm) {
        padding-left: 20px;
      }

      @media (max-width: $xs) {
        width: calc(100% - 15px);
        padding: 15px;
        margin-left: 15px;
      }

      &:before {
        right: auto;
        left: 100%;
      }

      &--hidden {
        transform: translateX(200%);
      }
    }

    .speaker__about {
      @media (max-width: $sm) {
        padding-right: 40px;
      }

      @media (max-width: $xs) {
        padding-right: 15px;
      }
    }
  }

  &__container {
    max-width: 1216px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 auto;

    @media (max-width: $lg) {
      max-width: 1020px;
    }

    @media (max-width: $md) {
      max-width: 912px;
    }

    @media (max-width: $sm) {
      max-width: 728px;
    }

    @media (max-width: $xs) {
      flex-direction: column;
      max-width: 100%;
    }
  }

  &__info {
    width: calc(50% - 86px);
    background: $orange;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
    padding: 41px 30px 46px 52px;
    position: relative;
    transition: 0.9s;
    transform: translateX(0);

    @media (max-width: $lg) {
      padding-left: 0;
    }

    @media (max-width: $md) {
      width: calc(50% - 40px);
    }

    @media (max-width: $sm) {
      padding: 20px;
      padding-left: 0;
    }

    @media (max-width: $xs) {
      width: calc(100% - 15px);
      padding: 15px;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      right: 100%;
      top: 0;
      bottom: 0;
      background: $orange;
      width: 4000px;
    }

    &--hidden {
      transform: translateX(-200%);
    }
  }

  &__description {
    font-size: 14px;
    line-height: 141.69%;
    color: white;
    margin: 16px 16px 0 0;

    @media (max-width: $md) {
      margin-right: 0;
    }

    @media (max-width: $xs) {
      text-align: justify;
    }
  }

  &__about {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    width: 50%;
    flex-shrink: 0;
    padding-right: 67px;
    align-self: center;

    @media (max-width: $sm) {
      padding-right: 0;
    }

    @media (max-width: $xs) {
      width: 100%;
      padding: 15px;
      text-align: justify;
    }

    p {
      margin-bottom: 21px;

      @media (max-width: $xs) {
        margin-bottom: 15px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__title {
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 6px;

    @media (max-width: $sm) {
      font-size: 16px;
    }
  }
}

.speaker-person {
  display: flex;
  align-items: center;
  color: white;

  &__photo {
    width: 123px;
    height: 123px;
    border-radius: 50%;
    overflow: hidden;
    background-size: cover;
    background-position: center;

    @media (max-width: $sm) {
      flex-shrink: 0;
      width: 70px;
      height: 70px;
    }
  }

  &__data {
    margin-left: 42px;

    @media (max-width: $md) {
      margin-left: 30px;
    }

    @media (max-width: $sm) {
      margin-left: 15px;
    }
  }

  &__name {
    font-family: $titleFont;
    font-weight: 800;
    font-size: 22px;
    line-height: 30px;

    @media (max-width: $sm) {
      font-size: 18px;
    }
  }

  &__post {
    font-size: 14px;
    line-height: 19px;
    margin-top: 4px;

    @media (max-width: $sm) {
      margin-top: 0;
    }
  }

  &__socials {
    display: flex;
    align-items: center;
    margin-top: 18px;

    a {
      display: block;
      margin-right: 20px;

      @media (max-width: $xs) {
        margin-right: 15px;
      }

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        .speaker-person__soc {
          fill: #FF5757;
        }
      }
    }
  }

  &__soc {
    fill: white;
    transition: 0.3s;
  }
}